<app-page-title></app-page-title>
<div class="flex mt-6">



  <form class="max-w-sm mx-auto">
    <div class="mb-5">

      <input
    type="text"
    class="w-full h-16 px-4 py-2 rounded shadow"
    placeholder="Name"
    [(ngModel)]="name"
    name="name"

  />
      
    </div>
    <div class="mb-5">

      <input
    type="email"
    class="w-42 h-16 px-4 py-2 rounded shadow"
    placeholder="Email"
    [(ngModel)]="email"
    name="email"

  />
     
    </div>
    <div class="mb-5">
    <input
    type="text"
    class="w-full h-16 px-4 py-2 rounded shadow"
    placeholder="Address"
    [(ngModel)]="address"
    name="address"

  /><br/>

    </div>
    <div class="mb-5">

  <input
    type="password"
    class="w-full h-16 px-4 py-2 rounded shadow"
    placeholder="password"
    [(ngModel)]="password"
    name="password"
 
  /><br/>

</div>
<div class="mb-5">
  <input
    type="password"
    class="w-full h-16 px-4 py-2 rounded shadow"
    placeholder="repeat password"
    [(ngModel)]="rpassword"
    name="rpassword"
 
  /><br/>


  </div>
    
    <button type="submit" (click)="addClient()"  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
  </form>
  






  <br/>

  <br/>


  
</div>
<div class="flex flex-col mt-6">
  <app-task-list [clientList]="clientList"></app-task-list>
</div>
